body > div {
  max-width: 800px;
  margin: 0 auto;
}
h1 {
  text-align: center;
}
.generate {
  color: white;
  background-color: red;
  border: 1px solid orange;
  padding: 5px 10px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  cursor: pointer;
}
.generate-holder {
  
}